body {
	background: #f9f9f9;
	font-family: 'Trebuchet MS', sans-serif;
	color: #969696;
}

a {
	outline: none !important;
}

h2 {
	font-family: 'Stint Ultra Condensed', cursive;
	text-transform: uppercase;
	font-size: 25px;
	color: #333;
	font-weight: bold;
	margin-bottom: 20px;
}

.search-bar {
	background: #090803;
	font-size: 13px;
	height: 40px;
	padding: 4px 0px;
}

.search-bar-wrapper {
	padding: 0;
	margin: 0;
}

.search-bar a {
	color: #7a7773;
	display: inline-block;
	margin-right: 10px;
	margin-top: 5px;
}

.search-bar a:hover {
	text-decoration: none;
	opacity: .85;
}

.search-bar a img {
	vertical-align: middle;
	display: inline-block;
	margin-top: -2px;
}

.social {
	text-align: right;
	margin-top: 3px;
}

.rss {
	margin-top: 3px;
}

.search-bar input {
	width: 100%;
	background: #4b4945;
	color: #fff;
	height: 30px;
	border: none;
	padding: 5px 35px 5px 5px;
}

.search-bar button {
	position: absolute;
	right: 15px;
	top: 0;
	border: none;
	background: transparent;
	color: #2a2c2b;
	font-size: 18px;
	padding: 5px 5px;
}

.logo {
	text-align: center;
	padding: 20px 0;
}

.logo a {
	outline: none;
}

.logo-img img {
	max-width: 100%;
    height: auto;
}

/* NAVIGATION */

nav {
	position: relative;
}

.nav-divider {
	height: 5px;
	background: #3a3a3c;
	width: 100%;
	position: absolute;
	bottom: 2px;
	z-index: -9999;
}

.navigation li {
	display: inline-block;
	height: 100%;
	margin-right: 15px;
	vertical-align: top;
	position: relative;
}

.navigation li.dropdown ul.dd li.dropdown>a {
	background: url(../images/arrow-red.gif) no-repeat right 5px center;
}

.navigation li.dropdown ul.dd li.dropdown>a:hover {
	background: url(../images/arrow.gif) no-repeat right 5px center,
	#d7412c;
} 

.navigation li.dropdown ul {
	position: absolute;
	z-index: 1000;
	top: 88px;
	background: #dadada;
	display: none;
}

.navigation li.dropdown ul.dd li.dropdown ul.dd {
	left: 190px;
	top: 0;
}

.navigation li.dropdown ul li {
	margin-right: 0;
}

.navigation li.dropdown ul>li>a {
	color: #736f6a;
	font-size: 13px;
	font-family: 'News Cycle', sans-serif;
	display: block;
	height: 35px;
	width: 190px;
	margin-right: 0;
	padding: 10px 15px;
	border-left: 3px solid #d7412c;
}

.navigation li.dropdown ul>li>a:hover {
	color: #fff;
	background: #d7412c;
				
	border-left: 3px solid #aaaeae;
}

.navigation li:last-child {
	margin-right: 0;
}

.navigation li a {
	font-size: 32px;
	font-weight: bold;
	font-family: 'Stint Ultra Condensed', cursive;
	color: #333333;
	text-transform: uppercase;
	height: 90px;
	display: block;
	outline: none;
}

.navigation li a:focus {
	text-decoration: none;
}

.navigation li a:hover {
	text-decoration: none;
	color: #d7412c;
}

.navigation li a>span {
	font-size: 10px;
	font-weight: normal;
	font-family: 'News Cycle', sans-serif;
	display: block;
	margin-top: 10px;
	width: 135px;
}

/* SLIDER */
.slider {
	margin-bottom: 20px;
}

.slider-wrap {
	width: 100%;
	height: 450px;
	margin-top: 20px;
	padding: 0;
	position: relative;
}

.slider-wrap img {
	width: 100%;
	height: auto;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.slider-wrap img:first-child {
	display: block;
}

.slider-controls {
	padding: 15px 0;
}

.slider-thumbnail {
	display: none;
}

.slider-controls h1 {
	font-size: 20px;
	color: #3e403f;
}

.slider-controls h6 a {
	font-size: 10px;
	text-transform: uppercase;
	margin-top: 5px;
	color: #969696;
}

.slider-controls .slider-round-btns a {
	border-radius: 50%;
	border: none;
	background: #dadada;
	box-shadow: inset 3px 3px 5px 1px rgba(33, 33, 33, .3);
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 5px;
}

.slider-controls .slider-round-btns a.active {
	border: 2px solid #d8afab;
	background: #fff;
	box-shadow: none;
}

.slider-controls .slider-round-btns a:hover {
	border: 2px solid #d8afab;
	cursor: pointer;
}

/* CONTENT */ 
.content {
	padding: 0 20px;
}

.post {
	margin: 0;
	padding: 0;
}

.post-img {
	border: 1px solid #e2e2e2;
}

.post img {
	width: 100%;
	border: 6px solid #eef1f2;
}

.post-img__left {
	border-right: none;
}

.post-img__right {
	border-left: none;
}

.post-header {
	padding: 10px 0;
	margin: 0 10px;
	border-bottom: 1px solid #e2e2dc;
}

.post-header h3 a {
	font-size: 18px;
	color: #3e403f;
	font-weight: bold;
}

.post-header h3 a:hover {
	text-decoration: none;
	color: #d7412c;
}

.post-header .category a, .post-header .comments a {
	color: #9b9e9f;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}

.post-header .category a {
	padding-left: 8px;
	background: url(../images/dot.gif) no-repeat 0px 5px;
}

.post-header .comments {
	float: right;
}

.post-content, .read-more {
	padding: 0 10px;
}

.post-content p {
	line-height: 22px;
	margin-top: 15px;
}

.post-content p a {
	border-bottom: 1px solid #d7412c;
	color: #969696;
}

.post-content p a:hover {
	text-decoration: none;
	color: #d7412c;
}

.read-more {
	margin: 25px 0;
}

.read-more a {
	background: #2a2c2b;
	color: #b7acac;
	display: block;
	width: 125px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

.read-more a:hover {
	text-decoration: none;
}

.read-more a i {
	background: #d7412c;
	color: #2a2c2b;
	float: right;
	height: 100%;
	width: 30px;
	padding: 6px 8px;
}

.more-articles {
	position: relative;
	padding: 15px 25px;
	margin-bottom: 75px;
	border-top: 1px solid #c2c2b3;
}

.more-articles a {
	font-family: 'Stint Ultra Condensed', cursive;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	color: #333333;
	border-bottom: 3px solid #d7412c;
}

.more-articles a:hover {
	text-decoration: none;
	color: #d7412c;
}

.more-articles .left-border {
	width: 1px;
	height: 30px;
	background: #c2c2b3;
	position: absolute;
	top: -10px;
	left: 10px;
}

.more-articles .right-border {
	width: 1px;
	height: 80px;
	background: #c2c2b3;
	position: absolute;
	top: -10px;
	right: 10px;
}

/* SIDEBAR */ 

.sidebar {
	padding: 0 40px;
}

.banners {
	margin-bottom: 30px;
}

.sidebar-banner {
	background: #eef1f2;
	padding: 5px;
	width: 47%;
	margin-right: 15px;
	margin-bottom: 15px;
}

.sidebar-banner:nth-child(2n) {
	margin-right: 0;
}

.sidebar-banner img {
	width: 100%;
	height: auto;
}

.categories {
	margin-bottom: 50px;
}

.categories ul li, .pages ul li {
	padding: 10px 10px;
	border-bottom: 1px solid #c2c2b3;
	background: url(../images/dot.gif) no-repeat 0px 17px;
}

.categories ul li a, .pages ul li a {
	color: #9b9e9f;
}

.pages {
	margin-bottom: 50px;
}

/* FOOTER */ 
.footer {
	background: #090803;
}

.footer h2 {
	color: #c2c2b3;
	margin-top: 35px;
}

.footer ul li {
	padding: 10px 10px;
	border-bottom: 1px solid #2a2b2a;
	background: url(../images/dot.gif) no-repeat 0px 17px;
}

.footer ul li a {
	color: #9b9e9f;
}

.flickr-img {
	margin-bottom: 30px;
}

.flickr-img img{
	border: 5px solid #727272;
	width: 100%;
}

.footer-logo {
	margin-bottom: 45px;
}

.footer-logo img {
	vertical-align: top;
}

.footer-logo p {
	font-size: 13px;
	color: #424242;
	display: inline-block;
	margin-top: 35px;
	margin-left: 10px;
}



/* SIDE MENU */
.menu {
	background: rgba(27, 27, 27, .9);
	right: -285px; /* прячем меню */
	top: 0;
	height: 100%;
	position: fixed;
	width: 285px;
	overflow-y: auto;
	z-index: 999;
}

.menu ul {
	border-top: 1px solid #555;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	border-bottom: 1px solid #555;
	font-family: 'Stint Ultra Condensed', cursive;
	line-height: 45px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
}

.menu li:hover {
	cursor: pointer;
	background-color: #555;
}

.menu a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

.menu li:hover a {
	color: #d7412c;
	-webkit-transition: color ease .3s;
	   -moz-transition: color ease .3s;
		-ms-transition: color ease .3s;
		 -o-transition: color ease .3s;
		 	transition: color ease .3s;
}

.icon-close {
	cursor: pointer;
	color: #fff;
	font-size: 30px;
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.icon-menu {
	color: #272727;
	cursor: pointer;
	font-size: 26px;
	float: right;
	padding: 10px;
	margin: 15px 15px 0;
	border: 2px solid #3a3a3c;
}

.icon-menu p {
	display: inline-block;
	margin-right: 10px;
}


@media screen and (max-width: 1200px) and (min-width: 992px) { 
	.slider-wrap {
		height: 370px;
	}
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	.slider-wrap {
		height: 285px;
	}

	.post-img__left {
		border-right: 1px solid #e2e2e2;;
	}

	.post-img__right {
		border-left: 1px solid #e2e2e2;;
	}

	.navigation li a {
		font-size: 26px;
	}

	.navigation {
		margin-left: 15px;
	}

	.navigation li {
		
		margin-right: 10px;
	}

	.navigation li a>span {
		font-size: 10px;
		width: 100px;
	}

}

@media screen and (max-width: 767px) {

	.slider-wrap {
		height: 150px;
	}

	.post-img__left {
		border-right: 1px solid #e2e2e2;;
	}

	.post-img__right {
		border-left: 1px solid #e2e2e2;;
	}

	.search-bar {
		font-size: 13px;
		height: 100%;
		padding: 4px 0px;
	}

	.search-bar a {
		margin-right: 10px;
		margin-top: 5px;
	}

	.search-bar {
		text-align: center;
	}

	.search-bar input {
		margin-top: 10px;
	}

	.search-bar button {
		right: 20px;
		top: 10px;
	}

	.social {
		text-align: center;
	}

	.navigation {
		margin-left: 15px;
	}

	.navigation li a>span {
		font-size: 10px;
		width: 160px;
	}

}
