a:focus {
	outline: none;
}

a:hover {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
}

button:focus {
	outline: none;
	border: none;
}

body {
	background: url(../images/main-bg1.png) repeat fixed;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #646464;
}

.scroll-top {
	float: left;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100px;
	background: rgba(0, 0, 0, .05);
	margin-top: 70px;
	padding: 20px 15px;
	display: block;
}

.scroll-top:hover {
	background: rgba(0, 0, 0, .1);
	cursor: pointer;
}

.scroll-top a {
	width: 200px;
	height: 100%;
	font-weight: bold;
	font-size: 12px;
	color: #555;
}
/*=====================================*/
/* HEADER */
.header {
	height: 70px;
	background-color: #333;
	position: fixed;
	width: 100%;
	z-index: 99999;

	-webkit-box-shadow: 0 3px 50px rgba(0,0,0, .5);
	   -moz-box-shadow: 0 3px 50px rgba(0,0,0, .5);
	     -o-box-shadow: 0 3px 50px rgba(0,0,0, .5);
			box-shadow: 0 3px 50px rgba(0,0,0, .5);
}

.logo {
	font-size: 26px;
	padding: 14px 0;
}

.logo a {
	color: #fff;
	font-family: 'PT Sans', Arial, sans-serif;
}

.logo a:visited {
	color: #fff;
}

.logo a:hover, .logo a:focus {
	text-decoration: none;
}

.logo a span:first-child {
	color: #99CC00;
}

.logo a span:last-child {
	color: #f26c4f;
}

.logo a span:last-child:hover {
	color: #FFCC00;
}


/*END OF HEADER */
/*=====================================*/
/*NAV */
.navigation {
	height: 100%;
}

.navigation ul li.mobile-search {
	display: none;
}

.navigation ul li {
	display: inline-block;
	margin-right: 35px;
}

.navigation ul li:last-child {
	margin-right: 0px;

}

.navigation ul li:last-child a {
	color: #f26c4f;
}

.navigation ul li a {
	height: 70px;
	padding: 24px 0;
	display: block;
	color: #fff;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	text-transform: uppercase;
}

.navigation ul li a:hover {
	border-bottom: 4px solid #f26c4f;
}

.navigation ul li a i {
	font-size: 10px;
}

.menu-trigger {
	display: none;
	color: #fff;
	font-size: 24px;
	float: right;
}

.menu-trigger:hover  {
	color: #f26c4f;
}

.menu-trigger:focus {
	color: #f26c4f;
}

.mobile-search {
	display: none;
}

.mobile-search input {
	width: 80%;
	height: 50px;
	background: rgba(33, 33, 33, .8);
	color: #fff;
	border: 1px solid #333;
	margin-top: 20px;
	font-size: 18px;
	padding: 5px;
}

/* ПОИСК */
.search-btn {
	display: block;
	margin-top: 25px;
	color: #fff;
	font-size: 18px;
	width: 50px;
	height: 100%;
	padding: 0 15px;
}

.search-btn:hover {
	color: #f26c4f;
}

.search-btn:focus {
	color: #f26c4f;
}

.search-block {
	position: absolute;
	display: none;
	height: 30px;
	width: 250px;
	top: 70px;
	right: 40px;
	-webkit-box-shadow: 0 5px 8px rgba(0,0,0, .4);
	   -moz-box-shadow: 0 5px 8px rgba(0,0,0, .4);
		 -o-box-shadow: 0 5px 8px rgba(0,0,0, .4);
			box-shadow: 0 5px 8px rgba(0,0,0, .4);

	border-top: 3px solid #f26c4f;
}

.search-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 5px 5px;
	border-color: transparent transparent #f26c4f transparent;

	position: absolute;
	top: -5px;
	right: 12px;
}

.dropdown {
	position: absolute;
	height: 300px;
	width: 135%;
	background: #474747;
	top: 70px;
	left: -24%;
	padding: 30px 10px 0;
	display: none;
	z-index: 999;
}

.dropdown-content {
	height: 220px;
}

.dropdown-item {
	overflow: hidden;
	padding-left: 7px;
}

.dropdown-item__img {
	overflow: hidden;
}

.dropdown-item__thumbnail {
	text-align: center;
	padding: 10px 10px;
}

.dropdown-item__thumbnail a {
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}

.dropdown-item__thumbnail a:hover {
	color: #f26c4f;
}

.dropdown-footer {
	text-align: center;
}

.dropdown-footer button {
	background: rgba(33, 33, 33, .3);
	border: 1px solid #2f2f2f;
	color: #aaa;
	height: 30px;
	width: 30px;
    padding: 5px 5px;
}

.dropdown-footer button:hover {
	background-color: #f26c4f;
	color: #fff;
}

.dropdown-footer button[disabled="disabled"] {
	opacity: .5;
}


/* COLLAPSED MENU */


/*END OF NAV */
/*=====================================*/
/* SOCIAL */

.social {
	margin-top: 85px;
}

.social ul {
	list-style: none;
	padding: 0;
	margin-left: 20px;
}

.social ul li {
	float: left;
	margin-right: 30px;
}

.social ul li:last-child {
	margin: 0;
}

.social ul li a {
	color: #333;
	font-size: 15px;
}

.social ul li a:hover {
	color: #777;
}

.social ul li a i {
	font-size: 20px;
}
/* END OF SOCIAL */
/*=====================================*/
.slider-progress {
    width: 0%;
    height: 4px;
    background: #f26c4f;
    position: absolute;
    bottom: 0;
    left: 0;
}

.slider_wrap {
	margin: 15px auto 0;
    height: 500px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.slider_wrap img {
	width: 100%;
	height: auto;
	display: none;
	position: absolute;
	top: 0;
	left: 0;	
}

.slider_wrap img:first-child {
	display: block;
}

.slider-thumbnail {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
    display: none;
}

.slider-thumbnail.active {
    display: block;
}

.slider-thumbnail-header {
	padding: 10px 30px;
	color: #fff;
}

.slider-thumbnail-header h3 {
	color: #fff;
	font-size: 25px;
}

.slider-thumbnail-header h3 a {
	color: #fff;
}

.slider-thumbnail-header h3 a:hover {
	color: #f26c4f;
}

.slider-thumbnail-content {
	color: #fff;
	padding: 10px 30px;
}

#show {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	z-index: 999;
	width: 100%;
}

#show button {
	height: 50px;
	width: 50px;
	background: transparent;
	padding: 0;
	line-height: 0;
	border: none;
	color: #fff;
	font-size: 50px;
	opacity: .3;
}

#show button:hover {
	opacity: .7;
}

#show button.slide-next {
	float: right;
	margin-right: 20px;
}

#show button.slide-prev {
	float: left;
	margin-left: -10px;
}

.slider-controls {
	margin-top: 5px;
}

.slider-round-btns {
	position: absolute;
	left: 50%;
	margin-left: -31px;
}

.slider-round-btns button {
	height: 17px;
	width: 17px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #ccc;
	border: 2px solid #333;
}

.slider-round-btns button:hover,
.slider-round-btns button.active {
	background: #f26c4f;
}

/* END OF SLIDER */
/*=====================================*/
/* TOP CONTENT */
.main {
	margin-top: 35px;
}

.main a {
	color: #f26c4f;
}

.main a:hover {
	color: #4f4f4f;
}

.tt {
	padding: 0;
}

.top-post-img {
	overflow: hidden;
}

.top-post-img img {
    width:100%;
}

.top-content {
	padding: 0;
}

.top-content__post {
	border-top: 5px solid #bababa;
	height: 480px;
	width: 32%;
	background: #fff;
	padding: 0;
	margin-right: 2%;
	overflow: hidden;
}

.top-content__post:hover {
	border-color: #f26c4f;;
}

.top-content__post:last-child {
	margin-right: 0;
}

.top-content-footer {
	padding: 0 20px;
}

.top-content-date {

}

h3.title, a.title {
	color: #4f4f4f;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 20px;
}

h3.title:hover, a.title:hover {
	color: #333;
}

.top-content-date {
	font-size: 12px;
	color: #8f8f8f;
	float: right;
	margin: 10px 20px;
}

.top-content-date i, .art-date i {
	font-size: 14px;
	vertical-align: top;
}
/* END OF TOP CONTENT */
/*=====================================*/

/* MAIN CONTENT */

.content {	
	padding: 0 10px 0 0;
}

.sidebar, .content {
	margin-top: 40px;
}

.article {
	background-color: #fff;
	min-height: 300px;
	width: 100%;
	border-left: 5px solid #f26c4f;
	position: relative;
	margin-bottom: 40px;
}

.article-category {
	background: url(../images/article-category.png) no-repeat;
	height: 80px;
	width: 80px;
	position: absolute;
	top: 3%;
	left: -85px;
}

.article-category a {
	height: 60px;
	width: 80px;
	display: block;
	padding: 15px 19px;
	margin-top: 10px;
	border-radius: 50% 0 0 50%;
	-webkit-border-radius: 50% 0 0 50%;
	-moz-border-radius: 50% 0 0 50%;
	vertical-align: middle;
}

.article-category i {
	font-size: 30px;
	text-align: center;
}

.article-header {
	padding: 35px 80px 0 30px;
}

.article-date {
	font-size: 12px;
	color: #8f8f8f;
	margin: 10px 30px 25px;
}

.article-date .art-date, .art-comments{
	margin-right: 20px;
}

.art-divider {
	border-left: 1px solid #dfdfdf;
	margin-right: 20px;
	height: 21px;
	width: 1px;
}

.article-img {
	overflow: hidden;
	background: #333;
}

.article-img img {
    width: 100%;
}

.article-content {
	padding: 30px 30px 10px;
}

.article-content p {
	text-indent: 30px;
}

.article-footer {
	padding: 10px 30px 20px;
}

.article-footer hr {
	border-color: #dfdfdf;
}

.article-continue a {
	font-weight: bold;
	float: right;
}


.more-articles {
    margin-bottom: 35px;
    text-align: center;
}

.more-articles a {
    background: url("../images/plus.png") no-repeat center bottom;
    color: #9e9e9e;
    display: inline-block;
    font-weight: bold;
    height: 45px;
    text-transform: uppercase;
}

.more-articles a:hover {
	background: url("../images/plus-hover.png") no-repeat center bottom;
}
/* END OF MAIN CONTENT */
/*=====================================*/


/* SIDEBAR */
.sidebar {
	padding: 0 0 0 15px;
}

.sidebar-top-post {
	background: #333;
	padding: 0;
}

.sidebar-top-post-img {
	overflow: hidden;
}

.sidebar-top-post-img img {
	width: 100%;
}

.sidebar-top-post-header {
	padding: 20px 30px;
}

.sidebar-top-post-header a.title {
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}

.sidebar-top-post-header a.title:hover {
	opacity: .7; 
}

.sidebar-top-post-content {
	padding: 0 30px 20px;
	color: #fff;
}

.sidebar-item {
	margin-top: 15px;
	padding: 0;
}

.sidebar-item p.title {
	color: #333;
	font-size: 18px;
	font-weight: bold;
	margin-left: 15px;
}

.sidebar-item p {
	margin: 5px 15px 10px;
}

.sidebar-form {
	background: #fff;
	width: 100%;
	padding: 15px 15px;
}

.sidebar-form input {
	margin-bottom: 15px;
}

.sidebar-form textarea {
	resize: none;
	height: 150px;
	margin-bottom: 15px;
}

.sidebar-form button {
	float: right;
}

.sidebar-nav ul {
	list-style: none;
	padding: 0;
}

.sidebar-nav ul li {
	background: #fff;
	margin-bottom: 5px;
	height: 40px;
	border-left: 3px solid #cacaca;
	box-shadow: 1px 2px 3px rgba(0,0,0, .3);
}

.sidebar-nav ul li a {
	font-size: 16px;
	color: #474747;
	display: block;
	width: 100%;
	height: 40px;
	padding: 9px 20px; 
}

.sidebar-nav ul li span {
	color: #a7a7a7;
	font-size: 12px;
	display: inline-block;
}

.sidebar-nav ul li:hover {
	border-left: 3px solid #f26c4f;
}

.sidebar-nav ul li a:hover {
	font-size: 16px;
	color: #222;
}

/* END OF SIDEBAR CONTENT */
/*=====================================*/


/* FOOTER */
.footer {
	background: #333;
	height: 100%;
}

.footer-top {
	padding: 10px 0;
}

.footer-bottom {
	text-align: center;
}

.footer-navigation ul {
	list-style: none;
	padding: 0 10px;
}

.footer-navigation ul li a {
	font-size: 15px;
	color: #fff;
}

.footer-navigation ul li a:hover {
	color: #cfcfcf;
}

.last-comments {
	padding: 15px 15px;
}

.last-comments h4 {
	color: #fff;
	font-size: 20px;
}

.last-comment__item {
	width: 100%;
	border-bottom: 1px solid #555;
	padding: 0 15px;
}

.last-comment__item:last-child {
	border-bottom: none;
}

.last-comment__item p {
	margin: 0;
}

.last-comment__item p:last-child {
	margin-bottom: 5px;
}

.last-comment__item p a {
	color: #f26c4f;
}

.last-comment__item p a:hover {
	color: #cfcfcf;
}
/* END OF FOOTER */
/*=====================================*/

.modal {
    padding-top: 100px;
    background: rgba(33, 33, 33, .8);
}

.modal-dialog {
    width: 300px;
}

.modal-header, .modal-body, .modal-footer {
    border: none;
}

.modal-body {
    text-align: center;
}

.modal-body p {
    margin-top: 15px;
}






/* АДАПТИВНЫЙ БЛОК */
@media screen and (max-width: 1300px) {
	//Article Category

	//Блок прокрутки вверх
	.scroll-top {
		display: none;
	}
	
	//Навигация в хедере

	.slider-thumbnail-header h3 {
		font-size: 20px;
	}

	.slider-thumbnail-content {
		font-size: 13px;
	}

}

@media screen and (max-width: 1199px) {
    
    .logo {
		font-size: 22px;
		padding-top: 16px;
	}

	.slider_wrap {
		height: 440px;
	}

	.navigation {
		float: left;
	}

	.navigation ul li {
		margin-right: 15px;
	}
    
    .navigation ul li:last-child {
        margin-bottom: 40px;
    }

	.navigation ul li a {
        height: 45px;
        padding: 25px 0;
        display: block;
        font-size: 12px;
        text-transform: uppercase;
    }


	.article-category {
		background: none;
		height: 60px;
		width: 60px;
		top: 2%;
		left: 89%;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}

	.article-category a {
		height: 60px;
		width: 60px;
		padding: 12px 12px;
		margin-top: 0;

		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		vertical-align: middle;
	}

	.article-category i {
		font-size: 30px;
		text-align: center;
	}
}

@media screen and (max-width: 991px) {
	.logo {
		font-size: 20px;
		padding-top: 18px;
	}

	.slider_wrap {
		height: 335px;
	}

	.header {
		position: absolute;
		margin-bottom: -70px;
		width: 100%;
		padding: 0;
	}

	.navigation {
		float: right;
		margin-bottom: 15px;
	}

	.navigation ul {
		height: 100%;

	}

	.navigation ul li a {
		font-size: 10px;
		padding-top: 28px;
	}
	
	.dropdown {
		top: 70px;
		left: -32%;
		padding: 30px 10px 0;
		display: none;
	}

	.navigation {
		background: rgba(33, 33, 33, .8);
		width: 100%;
		height: auto;
		margin-top: 8px;

	}

	.navigation ul {
		display: none;
        padding-left: 0;
	}

	.navigation ul li {
		display: block;
		text-align: center;
	}

	.navigation ul li a {
		font-size: 16px;
	}

	.navigation ul li a:hover {
		border: none;
		color: #f26c4f;
	}

	.menu-trigger {
		display: block;
		margin-top: -50px;
	}

	.navigation ul li i.glyphicon-chevron-down {
		display: none;
	}

	.navigation ul li.mobile-search {
		display: block;
	}
    
    .sidebar {
        padding-left: 0;
    }

}


@media screen and (max-width: 767px) {

	.slider-controls {
		margin-bottom: 15px;
	}
    
	.article-category {
		background: none;
		height: 25px;
		width: 25px;
		top: 3%;
		left: 87%;
		border: none;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
	}

	.article-category a {
		height: 25px;
		width: 25px;
		padding: 11px 10px;
		margin-top: 0;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		vertical-align: middle;
	}

	.article-category i {
		font-size: 26px;
		text-align: center;
	}

	.top-content {
		padding: 0;
		margin-top: 10px;
	}

	.top-post-img {
		overflow: hidden;
	}

	.top-post-img img {
		width: 100%;
	}

	.top-content__post {
		border-top: 5px solid #bababa;
		height: 100%;
		width: 100%;
		background: #fff;
		overflow: hidden;
		margin-bottom: 15px;
	}

	.top-content__post:last-child {
		margin-right: 0;
	}

	.top-content-footer h3 {
		font-size: 18px;
	}

	.sidebar {
		padding: 0;
	}

	.content {
		padding: 0;
	}

	.main {
		margin-top: 5px;
	}

	.article-header a {
		font-size: 18px;
	}

	.art-date {
		font-size: 10px;
	}

	.art-date i {
		font-size: 11px;
		vertical-align: middle;
		padding-bottom: 5px;
	}

	.art-comments {
		font-size: 10px;
	}
    
    .modal {
        padding-top: 50px;
    }

}
