@font-face{
	font-family: 'Gotham';
	src: url('../fonts/gotham/GothaProLig.otf');

	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Gotham';
	src: url('../fonts/gotham/GothaProBol.otf');

	font-weight: bold;
	font-style: normal;
}

a:focus {
	outline: none;
}

input:focus, select:focus, button:focus { outline: none; }

.content i.fa-home, i.fa-music,  i.fa-users {
	padding: 10px 12px;
}

.content i.fa-graduation-cap {
	padding: 12px 8px;
}

.content i.fa-car {
	padding: 10px 10px;
}

.filter i.fa-home, .filter i.fa-users {
	padding: 10px 9px;
}

.filter i.fa-music {
	padding: 10px 10px;
}

.filter i.fa-graduation-cap  {
	padding: 10px 6px;
}

.filter i.fa-car {
	padding: 9px 9px;
}

body {
	font-family: 'Gotham', Arial, sans-serif;
	background: #f3f1f2;
	overflow-x: hidden;
}
/* HEADER */
.header {
	background: #fff;
}

.navbar {
	border: none;
	margin: 0;
	height: 75px;
}

.navbar-header {
	height: 75px;
}

.navbar-default {
	background: #fff;
	color: #4b5b6a !important;
}

.navbar-default .navbar-brand {
	color: #4b5b6a;
}

.navbar-default .navbar-brand:hover {
	color: #4b5b6a;
}

.logo {
	background-color: #fff;
    border: none;
    font-size: 34px;
    font-weight: bold;
    line-height: 36px;
}

.logo:hover {
	color: #4b5b6a;
}

.logo img {
	float: left;
	vertical-align: middle;
	margin-right: 5px;
}

.navbar-nav {
	text-transform: uppercase;
	padding: 11px 0;
	font-size: 14px;
}

.navbar-default .navbar-nav > li > a {
	color: #4b5b6a;
}

.top-search {
	position: relative;
}

.navbar-form {
	padding: 0;
	margin: 0;
}

.navbar-form .search-btn {
	margin: 0;
	color: #fff;
	background: #e2dee0;
	border: none;
	border-radius: 0;
	height: 75px;
	width: 75px;
	font-size: 22px;
}

.navbar-form .login-btn {
	border: none;
	border-radius: 0;
	background: #e94e38;
	color: #fff;
	height: 75px;
	text-transform: uppercase;
	text-align: left;
}

.slider {
	background: url(../images/slider-repeat.png) repeat,
				url(../images/slider1.jpg) 0px -200px fixed;
	height: 375px;
	width: 100%;
	text-align: center;
	color: #fff;
	padding: 50px 0;
}

.slider h1 {
	font-size: 28px;
	margin-bottom: 40px;
}

.slider .search-main {
	color: #fff;
}

.search-main select, .search-main input, .hide-map select {
	background: none;
	border: none;
	margin-bottom: 30px;
	background: rgba(99, 99, 99, .5);
	border-radius: 50px;
	padding: 15px 25px;
	border: 1px solid #626260;
}

.search-main select, .hide-map select{
	width: 220px;
	height: 50px;

	/*for WebKit*/
	-webkit-appearance: none;
	 /* for FF */
	-moz-appearance: none;
	text-indent: 0.01px; 
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;

	background-image: url(../images/select-arrow.png);
	background-position: right 22px center;
	background-repeat: no-repeat;
}

select::-ms-expand {
  display: none;
}

.search-main input {
	height: 50px;
	width: 440px;
}

.search-main button, .hide-map button {
	background: #e94e38;
	border: none;
	height: 50px;
	width: 135px;
	border-radius: 50px;
	text-transform: uppercase;
	border: 1px solid #a03f2d;
}

.header-bottom {
	background: #fff;
	height: 75px;
	padding: 10px 0;
	border-bottom: 1px solid #e2dee0;
}

.type-toggle {
	padding-top: 20px;
}

.type-toggle a {
	color: #a6b3b4;
	text-transform: uppercase;
	margin-right: 20px;
}

.type-toggle a:hover {
	text-decoration: none;
	color: #e94e38;
}

.type-toggle a:last-child {
	margin-right: 0;
}

.type-toggle a.active {
	color: #e94e38;
}

.hide-map {
	padding: 0 3px;
}

.hide-map select {
	width: 125px;
	height: 50px;
	color: #e94e38;
	text-transform: uppercase;
	padding-left: 15px;
	border: 1px solid #cad2d3;
	font-size: 14px;
	float: right;

	/*for WebKit*/
	-webkit-appearance: none;
	 /* for FF */
	-moz-appearance: none;
	text-indent: 0.01px; 
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none !important;
	background: #fff;

	background-image: url(../images/select-arrow-black.png);
	background-position: right 10px center;
	background-repeat: no-repeat;
}

.hide-map button {
	color: #fff;
	background: #1baf5d;
	border: none;
	float: left;
}

.filter {
	margin-top: 2px;
	padding: 0;
	padding-left: 5px;
}

.filter a {
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	width: 50px;
	margin-left: 6px;
	background: #b6c0c1;
}

.filter span {
	text-transform: uppercase;
	color: #b6c0c1;
	float: left;
	margin-top: 18px;
}

.filter i {
	color: #fff;
	font-size: 30px;
}

.filter a.active:nth-child(2)  {
	background: #1baf5d;
}

	.filter a:nth-child(2):hover {
		opacity: .7;
	}

.filter a.active:nth-child(3) {
	background: #4b36ca;
}

	.filter a:nth-child(3):hover {
		opacity: .7;
	}

.filter a.active:nth-child(4) {
	background: #e94e38;
}

	.filter a:nth-child(4):hover {
		opacity: .7;
	}

.filter a.active:nth-child(5) {
	background: #f19e1f;
}

	.filter a:nth-child(5):hover {
		opacity: .7;
	}

.filter a.active:nth-child(6) {
	background: #88499c;
}

	.filter a:nth-child(6):hover {
		opacity: .7;
	}

.filter a.active:hover {
	opacity: .85;
}

/* END OF HEADER */

/* MAIN CONTENT */
.content {
	margin: 45px 0;
	min-height: 250px;
}

.small-item, .big-item {
	margin: 0 17px 30px;
	height: 325px;
	background: #fff;
	padding: 0;
}

.small-item, .big-item {
	width: 22%;
	position: relative;
	border-radius: 3px;

	box-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
}

.small-item .small-item-image, .big-item .big-item-image {
	overflow: hidden;
	border-radius: 3px 3px 0 0;
	background: #f3f1f2;
	position: relative;
}

.small-item .small-item-image img, .big-item .big-item-image img{
	width: 100%;
}

.small-item-price {
	height: 25px;
	width: 60px;
	padding: 7px 8px;
	position: absolute;
	color: #fff;
	font-size: 12px;
	background: #1baf5d;
	top: 10px;
	right: 10px;
	border-radius: 10px;
}

/*==============================================*/
.small-item-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 50px 0;
	display: none;
	height: 100%;
}

.small-item-hover button {
	background: none;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 35px;
	height: 35px;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: bold;
}

.small-item-hover a {
	color: #fff;
	font-size: 20px;
	margin-left: 30px;
}

.small-item-hover-rating {
	width: 80px;
	height: 16px;
	background: url(../images/white-star.png) repeat-x;
	margin-top: 24px;
	display: inline-block;
}

.small-item-hover-rating > div {
	height: 100%;
	background: url(../images/white-star1.png) repeat-x;
}

.small-item.reality-category .small-item-hover {
	background: rgba(27, 175, 93, .7);
}

.small-item.entertainment-category .small-item-hover {
	background: rgba(241, 158, 31, .7);
}

.small-item.living-category .small-item-hover {
	background: rgba(75, 54, 202, .7);
}

.small-item.education-category .small-item-hover {
	background: rgba(233, 78, 56, .7);
}

.small-item.mobility-category .small-item-hover {
	background: rgba(136, 73, 156, .7);
}
/*=========================================================*/
.small-item.reality-category .small-item-image,
.big-item.reality-category .big-item-image {
	border-bottom: 5px solid #1baf5d;
}

.small-item.entertainment-category .small-item-image,
.big-item.entertainment-category .big-item-image {
	border-bottom: 5px solid #f19e1f;
}

.small-item.living-category .small-item-image,
.big-item.living-category .big-item-image {
	border-bottom: 5px solid #4b36ca;
}

.small-item.education-category .small-item-image,
.big-item.education-category .big-item-image {
	border-bottom: 5px solid #e94e38;
}

.small-item.mobility-category .small-item-image,
.big-item.mobility-category .big-item-image {
	border-bottom: 5px solid #88499c;
}



.small-item-category, .big-item-category {
	position: absolute;
	width: 60px;
	height: 60px;
	margin-left: -30px;
	background: #1baf5d;
	border-radius: 55px;
	border: 4px solid #fff;
}

.small-item-category {
	top: -60px;
	left: 50%;
}

.small-item-category a, .big-item-category a {
	font-size: 30px;
	color: #fff;
	width: 60px;
	height: 60px;
	border-radius: 55px;	
}

.small-item.reality-category .small-item-category,
.big-item.reality-category .big-item-category {
	background: #1baf5d;
}

.small-item.entertainment-category .small-item-category,
.big-item.entertainment-category .big-item-category {
	background: #f19e1f;
}

.small-item.living-category .small-item-category,
.big-item.living-category .big-item-category {
	background: #4b36ca;
}

.small-item.education-category .small-item-category,
.big-item.education-category .big-item-category {
	background: #e94e38;
}

.small-item.mobility-category .small-item-category,
.big-item.mobility-category .big-item-category {
	background: #88499c;
}

.small-item-content, .small-item-rating {
	margin: 30px 15px 0;
	text-align: center;
}

.small-item-content {
	min-height: 30px;
	position: relative;
}

.small-item-content h3 a {
	color: #566375;
	font-weight: bold;
}

.small-item-content h3 a:hover {
	opacity: .75;
}

.small-item-content h3 a:hover, .small-item-rating a:hover {
	text-decoration: none;
}

.small-item-rating a {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}

.small-item.reality-category .small-item-rating a {
	color: #1baf5d;
}

.small-item.entertainment-category .small-item-rating a {
	color: #f19e1f;
}

.small-item.living-category .small-item-rating a {
	color: #4b36ca;
}

.small-item.education-category .small-item-rating a {
	color: #e94e38;
}

.small-item.mobility-category .small-item-rating a {
	color: #88499c;
}

.rating {
	margin: 0 auto;
	margin-top: 5px;
	width: 50px;
	height: 11px;
	background: url(../images/star1.png) repeat-x;
	font-size: 12px;
	line-height: 16px;
}

.rating > div {
	height: 100%;
	background: url(../images/star.png) repeat-x;
}

.big-item {
	width: 47%;
}

.big-item-category {
	top: -85px;
	left: 30px;
}

.big-item-rate {
	width: 80px;
	height: 16px;
	background: url(../images/big-star1.png) repeat-x;
	font-size: 14px;
	margin-top: 20px;
	margin-left:  100px;
}

.big-item-rate > div {
	height: 100%;
	background: url(../images/big-star.png) repeat-x;
}

.big-item-content {
	margin: 0 20px;
	position: relative;
}

.user-img {
	overflow: hidden;
	width: 60px;
	height: 60px;
	float: left;
	border-radius: 60px;
	border: 4px solid #e2dee0;
	position: relative;
	margin-right: 20px;
}

.user-img img {
	position: absolute;
	top: -50%;
	left: -50%;
	margin-top: -30px;
	margin-left: -30px;
}

.big-item-image {
	position: relative;
	
}

.big-item-img-thumbnail {
	position: absolute;
	bottom: 5px;
	left: 18%;
}

.big-item-img-thumbnail a {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	text-shadow: 2px 1px 0 rgba(0, 0, 0, 1);
}

.big-item-img-thumbnail span {
	color: #fff;
}

.big-item-divider {
	width: 2px;
	height: 24px;
	position: absolute;
	background: #f3f1f2;
	margin-left: 49px;
	margin-top: 30px;
}

.big-rating {
	display: inline-block;
	margin-top: 5px;
	margin-left: 10px;
	width: 50px;
	height: 11px;
	background: url(../images/star1.png) repeat-x;
	font-size: 12px;
	line-height: 16px;
}

.big-rating > div {
	height: 100%;
	background: url(../images/star.png) repeat-x;
}

.big-item-content {
	margin-top: 20px;	
	color: #8f96a1;
}

.big-item-content h3 {
	margin-bottom: 10px;
}

.big-item-content h3 a {
	color: #566375;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
}

.big-item-content h3 a:hover {
	opacity: .8;
	text-decoration: none;
}

.big-item-content p {
	margin-left: 80px;
}

.big-item-content p a {
	color: #8f96a1;
	font-weight: bold;
}

.more-content {
	text-align: center;
	margin: 20px 0 100px 0;
}

.more-content a {
	color: #566375;
}

// ABOUT
.about {
	text-align: center;
}

.about h3 {
	color: #566375;
	font-size: 26px;
	text-align: center;
}

.about h4 {
	color: #9dacad;
	font-size: 16px;
	text-align: center;
	margin: 10px 0 40px 0;
}




.tabs_box {
    margin: 0 auto;
    text-align: center;
}
 
#tab2, #tab3, #tab4, #tab5 {
    display: none;
}
 
.tab {
    margin-top: 30px;
}

.tab h3 {
	margin-bottom: 30px;
}

#tab1 h3 a {
	color: #1baf5d;
}

#tab2 h3 a {
	color: #f19e1f;
}

#tab3 h3 a {
	color: #4b36ca;
}

#tab4 h3 a {
	color: #e94e38;
}

#tab5 h3 a {
	color: #88499c;
}

#tab1 .tab-point {
	background: #1baf5d;
}

#tab2 .tab-point {
	background: #f19e1f;
}

#tab3 .tab-point {
	background: #4b36ca;
}

#tab4 .tab-point {
	background: #e94e38;
}

#tab5 .tab-point {
	background: #88499c;
}

.tab h3 a:hover {
	text-decoration: none;
}

.tab-point {
	float: left;	
	width: 60px;
	height: 60px;
	border-radius: 50%;
	padding: 12px 0;
	font-size: 36px;
	color: #fff;
}

.tab p {
	text-align: left;
	margin: 0 80px;
	color: #566375;
	line-height: 30px;
	margin-bottom: 80px;
}
 
.tabs_menu {
    display: block;
}
 
.tabs_menu li {
    display: inline-block;
    height: 100px;
    width: 100px;
}
 
.tabs_menu li a {
    display: block;
    width: 100px;
    height: 100px;
    color: #9dacad;
    border-radius: 50%;
    border: 3px solid #9dacad;
    font-size: 50px;
}

.tabs_menu li a i {
	padding: 20px 0;
}

.tabs_menu .active {
   	
}

a[href$="#tab1"].active {
	border-color: #1baf5d;
    color: #1baf5d;
}

a[href$="#tab2"].active {
	border-color: #f19e1f;
    color: #f19e1f;
}

a[href$="#tab3"].active {
	border-color: #4b36ca;
    color: #4b36ca;
}

a[href$="#tab4"].active {
	border-color: #e94e38;
    color: #e94e38;
}

a[href$="#tab5"].active {
	border-color: #88499c;
    color: #88499c;
}

.about-divider {
	width: 70px;
	height: 3px;
	display: inline-block;
	background: #e2dee0;
	margin-bottom: 14px;
}

/*  FOOTER  */
.footer {
	background: url(../images/slider-repeat.png) repeat,
				url(../images/slider1.jpg) 0px -200px;
	height: 500px;
	width: 100%;
}

.footer-top {
	text-align: center;
	padding: 50px 0;
	border-bottom: 1px solid #4b4b49;
}

.footer-top h2 {
	color: #fff;
	font-size: 30px;
	margin-bottom: 50px;
}

.subscribe-form {
	position: relative;
}

.subscribe-form input {
	width: 480px;
	height: 60px;
	padding: 10px 70px;
	padding-right: 130px;
	background: url(../images/email.png) no-repeat center left 30px,
				rgba(99, 99, 99, .5);
	color: #fff;
	border: 1px solid #5c656b;
	border-radius: 60px;
}

.subscribe-form button {
	position: absolute;
	top: 5px;
	right: 30%;
	padding: 0 15px;
	background: #e94e38;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #c1412e;
	height: 50px;
	border-radius: 50px;
}

.footer-bottom {
	color: #dfdede;
	padding: 40px 0;
}

.footer-bottom h6 {
	text-decoration: underline;
	margin-bottom: 20px;
}

.footer-bottom ul li a {
	color: #9e9c9a;
	line-height: 26px;
}

.social {
	margin-bottom: 75px;
}

.social a {
	color: #fff;
	font-size: 34px;
	margin-right: 20px;
}

.social a:hover {
	opacity: .6;
}



/*АДАПТИВНОСТЬ*/
@media screen and (max-width: 1200px) and (min-width: 992px) {
	.logo {
	    font-size: 28px;
	}

	.navbar-nav {
		text-transform: uppercase;
		padding: 12px 0;
		font-size: 12px;
	}

	.type-toggle a {
		font-size: 12px;
	}

	.filter {
		margin-top: 8px;
		font-size: 12px;
	}

	.filter a {
		height: 40px;
		width: 40px;
	}

	.filter span {
		margin-top: 15px;
	}

	.filter i {
		font-size: 24px;
	}


	.filter i.fa-home, .filter i.fa-users {
		padding: 7px 8px;
	}

	.filter i.fa-music {
		padding: 7px 8px;
	}

	.filter i.fa-graduation-cap  {
		padding: 7px 5px;
	}

	.filter i.fa-car {
		padding: 7px 7px;
	}

	.small-item {
		width: 21%;
	}

	.big-item {
		width: 45.5%;
	}

	.small-item-category  {
		top: -60px;
	}

	.big-item-category {
		top: -85px;
	}

	.small-item-hover {
		padding: 30px 0;
	}

	.subscribe-form button {
		right: 26%;
	}
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	.logo {
	    font-size: 24px;
	}

	.logo img {
		width: 28%;
		margin-top: 5px;
	}

	.navbar-nav {
		text-transform: uppercase;
		padding: 12px 0;
		font-size: 12px;
	}

	.navbar-form .search-btn {
		font-size: 20px;
		width: 55px;
	}

	.navbar-form .login-btn {
		font-size: 11px;
	}

    .navbar-nav > li > a {
		color: #4b5b6a;
		margin-right: -16px;
		margin-left: -7px;
	}

	.type-toggle {
		padding-top: 3px;
	}

	.type-toggle a {
		font-size: 12px;
		display: block;
		margin-bottom: 7px;
	}

	.hide-map select {
		width: 100px;
		font-size: 11px;
	}

	.hide-map button {
		width: 100px;
		font-size: 12px;
	}

	.filter {
		margin-top: 14px;
		font-size: 12px;
	}

	.filter a {
		height: 35px;
		width: 35px;
		margin-right: 0;
	}

	.filter span {
		margin-top: 15px;
		position: absolute;
		top: -30px;
		left: 50%;
		margin-left: -18px;
	}

	.filter i {
		font-size: 20px;
	}


	.filter i.fa-home, .filter i.fa-users {
		padding: 7px 8px;
	}

	.filter i.fa-music {
		padding: 7px 8px;
	}

	.filter i.fa-graduation-cap  {
		padding: 7px 5px;
	}

	.filter i.fa-car {
		padding: 7px 7px;
	}

	.small-item {
		width: 45%;
		height: 400px;
	}

	.big-item {
		width: 94.5%;
		height: 400px;
	}

	.small-item-category  {
		top: -60px;
		left: 50%;
	}

	.big-item-category {
		top: -85px;
	}

	.about-divider {
		width: 30px;
	}

	.footer p {
		font-size: 12px;
	}

	.subscribe-form button {
		right: 19%;
	}

}

@media screen and (max-width: 767px) {

	.navbar-toggle {
		margin-top: 20px;
	}

	.navbar-collapse {
		background: rgba(00,00,00,.8);
	}

	.navbar-default .navbar-nav > li > a {
		color: #fff;
	}

	.navbar-default .navbar-nav > li > a:hover {
		color: #e94e38;
	}

	.top-search {
		width: 100%;
	}	

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    	border-color: transparent;
	}

	.navbar-form {
		border: none;
		margin-bottom: 15px;
	}

	.navbar-form .search-btn {
		width: 25%;
	}

	.navbar-form .login-btn {
		width: 75%;
	}

	.logo {
	    font-size: 24px;
	    margin-top: 2px;
	}

	.logo img {
		width: 28%;
		margin-top: 5px;
	}

	.slider {
		padding: 40px 15px 0;
	}

	.slider h1 {
		font-size: 22px;
		margin-bottom: 25px;
	}	

	.search-main select, .search-main input, .hide-map select {
		margin-bottom: 15px;
	}

	.search-main input {
		height: 50px;
		width: 100%
	}
		
	.header-bottom {
		height: 100%;
	}

	.type-toggle {
		text-align: center;
		font-size: 12px;
	}

	.hide-map {
		text-align: center;
	}

	.hide-map select {
		font-size: 12px;
		float: none;
		margin-top: 15px;
	}

	.hide-map button {
		margin-top: 0px;
		font-size: 14px;
		float: none;
		margin-bottom: 15px;
	}

	.filter {
		text-align: center;
	}

	.filter span {
		display: none;
	}

	.filter a {
		height: 35px;
		width: 35px;
		margin-right: 0;
	}

	.filter span {
		margin-top: 15px;
		position: absolute;
		top: -30px;
		left: 50%;
		margin-left: -18px;
	}

	.filter i {
		font-size: 20px;
	}

	.filter i.fa-home, .filter i.fa-users {
		padding: 7px 8px;
	}

	.filter i.fa-music {
		padding: 7px 8px;
	}

	.filter i.fa-graduation-cap  {
		padding: 7px 5px;
	}

	.filter i.fa-car {
		padding: 7px 7px;
	}

	.small-item {
		width: 100%;
		height: 100%;
		padding-bottom: 40px;
		margin-left: 0;
	}

	.big-item {
		width: 100%;
		height: 350px;
		margin-left: 0;
	}

	.small-item-category  {
		top: -60px;
		left: 50%;
	}

	.big-item-category {
		top: -85px;
		left: 30px;
	}
	
	.big-item-img-thumbnail a {
		font-size: 14px;
		margin-left: 30px;
	}

	.big-item-img-thumbnail span {
		font-size: 12px;
	}
	 
	.tab {
	    margin-top: 30px;
	    margin-bottom: 60px;
	}

	.tab-point {	
		width: 40px;
		height: 40px;
		padding: 8px 0;
		font-size: 24px;
	}

	.tab p {
		margin: 0px 0px 0px 50px;
		line-height: 20px;
		margin-bottom: 0;
		font-size: 12px;
		margin-bottom: 15px;
	}
	 	 
	.tabs_menu li {
	    display: inline-block;
	    height: 40px;
	    width: 40px;
	}
	 
	.tabs_menu li a {
	    display: block;
	    width: 40px;
	    height: 40px;
	    color: #9dacad;
	    border-radius: 50%;
	    border: 3px solid #9dacad;
	    font-size: 22px;
	}

	.tabs_menu li a i {
		padding: 6px 0;
	}
	
	.about-divider {
		width: 6px;
		margin-bottom: 8px;
	}

	.subscribe-form {
		padding: 0 5px;
	}

	.footer-top h2{
		font-size: 20px;
	}

	.subscribe-form input {
		width: 100%;
	}
	
	.subscribe-form input {
		padding: 10px 40px;
		padding-right: 130px;
		background: url(../images/email.png) no-repeat center left 15px,
					rgba(99, 99, 99, .5);	}

	.subscribe-form button {
		top: 5px;
		right: 10px;
		font-size: 12px;
	}

	.footer-bottom {
		padding: 40px 0;
	}

	.footer-bottom h6 {
		margin-bottom: 16px;
	}

	.footer-bottom ul li a {
		line-height: 14px;
		font-size: 12px;
	}

	.footer-bottom p {
		font-size: 10px;
	}

	.social {
		margin-bottom: 20px;
	}

	.social a {
		font-size: 24px;
		margin-right: 20px;
	}

	.social a i {
		padding: 5px 0;
	}

	.footer {
		background: url(../images/slider-repeat.png) repeat,
					url(../images/slider1.jpg) -100px -100px;
	}

}