h1, h2, h3, h4, h5, h6 {
	font-family: 'Unica One', cursive;
}

p {
	color: #272727;
	font-family: 'Raleway', sans-serif;
}

a {
	outline: none !important;
}

a:focus {
	text-decoration: none;
}

body {
	background: #f2f2f2;
	font-family: 'Raleway', sans-serif;
	
}

input[type=text], input[type=submit], textarea {
	-webkit-appearance: none;
	outline: none;
} 


/*Отключить выделение цветом*/
/*a, label{*/
/*	-webkit-tap-highlight-color: transparent;*/
/*}*/

/*=============================*/ 

.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../images/texture.png) repeat;
	opacity: .4;
}


.slider-wrap {	
	padding: 0;
	overflow: hidden;
	position: absolute;
	height: 1100px;
}

.slider-wrap img {
	min-width: 120%;
	height: 1100px;
	display: none;
	top: 0;
	left: 0;
	position: absolute;
}

.slider-wrap img:first-child {
	display: block;
}

.navigation {
	background: #f2f2f2;
	z-index: 999;
	margin-top: 40px;
	border-radius: 15px;
}

.logo {
	font-size: 30px;
	padding: 14px 0 0 10px;
}

.logo a>span {
	color: #00c0ff;
}

.logo a:hover {
	text-decoration: none;
}

.navigation a {
	color: #362d2a;
	outline: none;
	font-family: 'Unica One', sans-serif;
}

.navigation ul {
	float: right;
}

.navigation ul li {
	display: inline-block;
	margin-left: -5px;
}

.navigation ul li a {
	display: block;
	padding: 20px 10px;
	font-size: 18px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent; 
}

.navigation ul li a:hover {
	text-decoration: none;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	-webkit-transition: border ease .4s;
	   -moz-transition: border ease .4s;
	   	-ms-transition: border ease .4s;
	   	 -o-transition: border ease .4s;
	   	 	transition: border ease .4s;
}

.sticky {
    position:fixed;
    top:0;
    left: 0;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, .2);
    opacity: .95;
    width: 100%;
}

.menu-padding {
    padding-top: 100px;
}

.header-content {
	text-align: center;
	color: #fff;
	margin: 270px 0 260px;
	padding: 0 75px;
}

.header-content h1 {
	font-size: 160px;
}

.header-content h1, h2 {
	text-shadow: 0px 10px 40px rgba(0, 0, 0, 1);
	cursor: default;
}

.header-content h2 {
	font-size: 65px;
}

.controls a {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	border: 2px solid #fff;
	outline: none;
	color: #fff;
	font-size: 50px;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	padding: 14px 0;
}

.controls a.slide-prev {
	left: -80px;
	padding-right: 8px;
}

.controls a.slide-next {
	right: -80px;
	padding-left: 8px;
}

.slider-progress {
	height: 5px;
	background: #fff;
	margin-top: 15px;
	border-radius: 2px;
}

.header-bottom {
	background: #f2f2f2;
	border-radius: 15px;
	text-align: center;
	color: #272727;
	padding: 25px 25px 45px;
	margin-bottom: 100px;
	position: relative;
}

.header-bottom .close-btn {
	color: #272727;
	font-size: 24px;
	position: absolute;
	top: 10px;
	right: 15px;
	display: none;
}

.header-bottom .close-btn:hover {
	opacity: .7;
	-webkit-transition: opacity ease .4s;
	   -moz-transition: opacity ease .4s;
	   	-ms-transition: opacity ease .4s;
	   	 -o-transition: opacity ease .4s;
	   	 	transition: opacity ease .4s;

}

h3 {
	font-size: 44px;
	margin-bottom: 15px;
	cursor: default;
}

.header-bottom p {
	font-size: 14px;
	line-height: 25px;
}

.header-bottom .triangle {
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	bottom: -25px;
	border-style: solid;
	border-width: 25px 25px 0 25px;
	border-color: #f2f2f2 transparent transparent transparent;
}

/* CONTENT */

section {
	margin-bottom: 45px;
}

.animals__item {
	text-align: center;
	margin-bottom: 25px;
	padding: 10px 45px;
}

i.fa-circle {
	font-size: 5px;
	margin-top: 15px;
	cursor: default;
}

h4 {
	font-size: 30px;
}

h4 a {
	color: #362d2a;
	outline: none;
}

h4 a:hover {
	color: #362d2a;
	text-decoration: none;
}

.animals__item {
	
}

.animals__item-img {
	height: 140px;
	overflow: hidden;
	display: block;
	text-align: center;
	position: relative;
}

.animals__item-img img {
 	display: block;
    margin: 0 auto; 
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -65px;
}

.animals__item p {
	color: #202020;
	margin: 15px 0;
	line-height: 26px;
}

.gallery {
	text-align: center;
	padding: 150px 0 45px;
	background: url(../images/bubbles.png) no-repeat 57% 19%,
		url(../images/gallery.jpg) no-repeat top center;
	border-radius: 15px;
}

.gallery h3 {
	color: #fff;
	pointer: default;
	margin-bottom: 85px;
}

.gallery a {
	display: block;
	padding: 10px 10px;
	width: 150px;
	margin: 0 auto;
	color: #fff;
	font-family: 'Unica One', cursive;
	font-size: 22px;
	border: 2px solid #fff;
}

.gallery a:hover {
	text-decoration: none;
}

section {
	padding: 0;
}

.time-filter {
	text-align: center;
	margin-bottom: 15px;
}

.time-filter a {
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	color: #272727;
	margin: 0 20px;
	display: inline-block;
	padding-bottom: 3px;
	border-bottom: 2px solid transparent;
}

.time-filter a.active {
	border-bottom: 2px solid #272727;
}

.time-filter a:hover {
	text-decoration: none;
	border-bottom: 2px solid #272727;
}

.events-switch {
	float: right;
	margin-bottom: 5px;
}

.events-switch span {
	font-size: 18px;
	font-family: 'Unica One', sans-serif;
}

.events-switch a {
	margin: 0 10px;
	font-size: 22px;
	vertical-align: middle;
	color: #00c0ff;
}

.events-switch a.disabled {
	cursor: default;
	color: #272727;
}

.future-events {
	border-radius: 15px;
	/* FOR SAFARI AND OPERA */ 
	-webkit-transform: translateZ(0);
   	-webkit-mask-image: -webkit-radial-gradient(circle, white 15px, black 15px);
   	/* END */ 
	overflow: hidden;
	width: 100%;
}

.events-first-row {
	margin-bottom: 5px;
}

.events__item {
	overflow: hidden;
	position: relative;
	padding: 0 5px;
	height: 375px;
}

.events__item:nth-child(1), 
.events__item:nth-child(3) {
	padding: 0;
}

.events__item:nth-child(1) .events-thumbnail, 
.events__item:nth-child(3) .events-thumbnail {
	padding: 0;
}

.events-img {
	display: block;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.events-img img {
	width: 100%;
	height: auto;
}

.events-thumbnail {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 5px;
}

.events-title {
	background: #22262e;
	width: 100%;
	font-size: 14px;
	padding: 20px;
	line-height: 26px;
}

.events-thumbnail a {
	color: #fff;
	font-family: 'Unica One', cursive;
	font-size: 20px;
	text-transform: uppercase;
}

.events-thumbnail a:hover {
	text-decoration: none;
}

.events-thumbnail p {
	color: #b1b1b1;
}

.events-date {
	background: #00c0ff;
	width: 75px;
	padding: 10px 10px;
	text-align: center;
	border-top-right-radius: 15px;
}

.events-date p {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Unica One', cursive;
	cursor: default;
}

.events-date .day {
	font-size: 40px;
	font-weight: bold;
}

.events-date .month {
	font-size: 13px;
}

.schedule {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 0;
}

.schedule__item {
	margin: 0 10px;
}

.schedule__item img {
	vertical-align: middle;
	display: inline-block;
	margin-top: -10px;
}

.schedule__item h6 {
	font-size: 30px;
	color: #22262e;
	margin: 20px 0;
	display: inline-block;
	margin-left: 15px;
	text-transform: uppercase;
}

.schedule__item ul {
	color: #22262e;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	list-style-type: disc;
	list-style-position: inside;
}

.schedule__item ul strong {
	font-weight: bold;
	font-family: 'Unica One', cursive;
	font-size: 20px;
}

.schedule__item p {
	color: #747474;
	margin-top: 15px;
	line-height: 26px;
}

.schedule__item ul, .schedule__item p {
	margin-left: 110px;
}

.calendar {
	padding-right: 35px;
	margin-top: 20px;
}

.calendar-top {
	text-align: center;
	text-transform: uppercase;
	background: #00c0ff;
	border-top-left-radius: 15px;
	padding: 40px 45px;
	position: relative;
}

.calendar-top p {
	font-family: 'Unica One', cursive;
}

.calendar-month {
	color: #fff;
	font-size: 38px;
	cursor: default;
}

.calendar-year {
	color: #22262e;
	line-height: 32px;
	font-size: 18px;
	cursor: default;
}

.calendar-today {
	color: #fff;
	font-size: 18px;
	cursor: default;
}

.calendar-today span {
	font-weight: bold;
}

.calendar-top a {
	color: #fff;
	font-size: 25px;
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -11px;
	cursor: pointer;
}

.calendar-prev {
	left: 10%;
}

.calendar-next {
	right: 10%;
}

.calendar-next.disabled {
	color: #22262e;
	cursor: default;
}

.calendar-middle {
	height: 330px;
}

.calendar-middle table {
	font-family: 'Unica One', cursive;
	width: 100%;
	height: 100%;
}


.calendar-middle table thead {
	font-weight: bold;
}

.calendar-middle table thead tr td {
	cursor: default;
	padding-top: 30px;
}

.calendar-middle table tr {
	border-bottom: 1px solid #e0e0e0;
}

.calendar-middle table tr:last-child {
	border: none;0;
}

.calendar-middle table tr:last-child td {
	padding-bottom: 20px;
}

.calendar-middle table tr td {	
	text-align: center;
	border-right: 1px solid #e0e0e0;
}

.calendar-middle table tr td:last-child {
	border: none;
}

.calendar-middle table tr td span {
	cursor: pointer;
	border-radius: 30px;
	border: 2px solid transparent;
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 5px 0;
	margin: 5px 8px;
}

.calendar-middle table tbody tr td span:hover {
	border: 2px solid #00c0ff;
	-webkit-transition: border ease 0.3s;
	   -moz-transition: border ease 0.3s;
	   	-ms-transition: border ease 0.3s;
	   	 -o-transition: border ease 0.3s;
	   	 	transition: border ease 0.3s;
}

.calendar-middle table tbody tr td span.active {
	background: #00c0ff;
	color: #fff;
	cursor: default;
}

.calendar-middle table tbody tr td span.disabled {
	color: #d3d3d3;
	cursor: default;	
	margin: 0;
	padding: 0;
}

.calendar-middle table tbody tr td span.disabled:hover {
	border: 2px solid transparent;
}

.calendar-bottom {
	background: #22262e;
	padding: 20px 0 20px 20px;
	border-bottom-left-radius: 15px;
}

.calendar-bottom ul li {
	border-bottom: 1px dotted #62656d;
	list-style-type: disc;
	list-style-position: inside;
	color: #00c0ff;
	padding: 10px 0;
}

.calendar-bottom ul li:last-child {
	border-bottom: none;
}

.calendar-bottom ul li a {
	color: #8f9092;
	font-size: 18px;
}

.calendar-bottom ul li a {
	text-decoration: none;
}

.calendar-bottom ul li span {
	float: right;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	margin-right: 25px;
}


.guides-section h3 {
	padding-top: 50px;
}

.guides-section p {
	line-height: 32px;
	width: 100%;
}

.guides {
	overflow: hidden;
	border-radius: 15px;
	/* FOR SAFARI AND OPERA */ 
	-webkit-transform: translateZ(0);
   	-webkit-mask-image: -webkit-radial-gradient(circle, white 15px, black 15px);
   	/* END */ 
	margin: 10px 0 0;
	padding: 0;
}

.guides__item {
	overflow: hidden;
	padding: 0;
	position: relative;
	height: 440px;
	border-right: 5px solid #fff;
}

.guides__item:last-child {
	border-right: none;
}

.guides__item img {
	width: 100%;
}

.guides-thumbnail {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #22262e;
	padding: 15px 15px 10px;
	width: 100%;
	//margin-left: 5px;
}

.guides-thumbnail a {
	color: #fff;
}

.guides-thumbnail a:hover {
	text-decoration: none;
}

.guides-thumbnail p {
	text-transform: uppercase;
	color: #09acc7;
	font-size: 12px;
}

.guide-name, .guide-social {
	display: inline-block;
	font-family: 'Times New Roman', sans-serif;
}

.guide-social {
	float: right;
}

.guide-name a {
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.guide-social a {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: #fff;
}

.guide-social a i {
	color: #22262e;
	padding: 6px 6px;
	-webkit-transition: color ease 0.5s;
	   -moz-transition: color ease 0.5s;
	   	-ms-transition: color ease 0.5s;
	   	 -o-transition: color ease 0.5s;
	   	 	transition: color ease 0.5s;
}

.guide-social a i.fa-facebook {
	padding: 6px 8px;
}

.guide-social a i.fa-twitter:hover {
	color: #00e4ff;
}

.guide-social a i.fa-facebook:hover {
	color: #3B5998;
}

.guide-social a i.fa-google:hover {
	color: #DB4437;
}


.about-section p {
	line-height: 32px;
	font-size: 16px;
}

.about {
	margin-top: 50px;
	padding: 0;
	position: relative;
	margin-bottom: 50px;
}

.feedback {
	padding-right: 50px;
	height: 390px;
}

.feedback form {
	font-size: 1.3em;
}

.feedback form input {
	display: block;
	width: 100%;
	padding: 35px 45px;
	background: #fff;
	border: none;
	outline: none;
	border-bottom: 1px solid #f2f2f2;
}

.feedback form input:first-child {
	border-top-left-radius: 15px;
}

.feedback form textarea {
	width: 100%;
	padding: 30px 45px;
	border: none;
	resize: none;
	line-height: 30px;
}

.feedback form button {
	width: 100%;
	background: #01b2ec;
	border: none;
	outline: none;
	padding: 21px 45px;
	font-family: 'Unica One', cursive; 
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4em;
	border-bottom-left-radius: 15px;
}

.address {
	height: 390px;
}

.phone {
	margin-bottom: 30px;
	width: 200px;
}

.contacts {
	width: 100%;
}

.contacts h4 {
	cursor: default;
	display: block;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.contacts a {
	display: block;
	width: 100%;
	color: #747474;
	outline: none;
	line-height: 40px;
	font-size: 1.4em;
	font-family: 'Unica One', cursive;
	margin-left: 60px;
}

.contacts a:hover {
	opacity: .7;
	-webkit-transition: opacity ease 0.4s;
	   -moz-transition: opacity ease 0.4s;
	   	-ms-transition: opacity ease 0.4s;
	   	 -o-transition: opacity ease 0.4s;
	   	 	transition: opacity ease 0.4s;
}

.contacts a:hover {
	text-decoration: none;
}

.place ul {
	margin-left: 80px;
	list-style-type: disc;
}

.place ul li span {
	font-size: 1.4em;
	color: #747474;
	line-height: 30px;
}

.address-social {
	margin-top: 26px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.address-social ul li {
	display: inline-block;
	margin-right: 13px;
}

.address-social ul li:last-child {
	margin-right: 0px;
}


.address-social ul li a {
	display: block;
	height: 67px;
	width: 72px;
}

.address-social ul li a img {
	width: 72px;
	height: 67px;
}

.address-social ul li a:hover {
	opacity: .8;
	-webkit-transition: opacity ease .5s;
	   -moz-transition: opacity ease .5s;
	   	-ms-transition: opacity ease .5s;
	   	 -o-transition: opacity ease .5s;
	   	 	transition: opacity ease .5s;
}

/* FOOTER */

.footer-img {
	padding: 0;
	position: relative;
}

.footer-img img {
	width: 100%;
	display: block;
}

.footer-img a {
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	text-align: center;
	font-family: 'Unica One', cursive;
	font-size: 48px;
	color: #fff;
	cursor: pointer;
	display: block;
	height: 100%;
	width: 100%;
	padding-top: 45%;
	background: url(../images/bubbles.png) no-repeat;
	background-position: 50% 30%;
	opacity: 0;
}

.footer-img a:hover {
	text-decoration: none;
	opacity: 1;
	-webkit-transition: opacity ease .4s;
	   -moz-transition: opacity ease .4s;
	   	-ms-transition: opacity ease .4s;
	   	 -o-transition: opacity ease .4s;
	   	 	transition: opacity ease .4s;
}

.footer-bottom {
	background: #22262e;	
}

.footer-bottom p {
	padding: 40px 0;
	color: #fff;
	font-size: 24px;
}


/* БОКОВОЕ МЕНЮ ДЛЯ МОБИЛЬНЫХ УСТРОЙСТВО */
.menu {
	background: #22262e;
	right: -285px; /* прячем меню */
	top: 0;
	height: 100%;
	position: fixed;
	width: 285px;
	overflow-y: auto;
	z-index: 999;
	
	/*Фикс для Safari при изменении высоты блока при прокрутке*/
	
	/*bottom: 0;*/
	/*top: -70px;*/
	/*padding-bottom: 70px;*/
	/*transform: translateY(70px);*/
	
}

.menu ul {
	border-top: 1px solid #555;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	border-bottom: 1px solid #555;
	font-family: 'Unica One', sans-serif;
	line-height: 45px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
}

.menu li:hover {
	cursor: pointer;
	background-color: #555;
}

.menu a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

.icon-close {
	cursor: pointer;
	color: #fff;
	font-size: 30px;
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.icon-menu {
	color: #272727;
	cursor: pointer;
	font-size: 26px;
	float: right;
	padding: 15px;
}


/* АДАПТИВНОСТЬ */
@media screen and (min-width: 1413px) {
	.header-bottom {
		margin-bottom: 100px;
	}

	.header-content {
		margin-bottom: 260px;
	}

	.slider-wrap img {
		height: auto;
	}


}


@media screen and (max-width: 1350px) {
	.controls a.slide-prev {
		left: 10px;		
	}

	.controls a.slide-next {
		right: 10px;
	}


}



@media screen and (max-width: 1200px) and (min-width: 992px) { 
	.header-content h1 {
		font-size: 120px;
	}

	.header-content h2 {
		font-size: 45px;
	}

	.header-content {
		margin-bottom: 320px;
	}

	.animals-section {
		padding: 0;
	}

	.future-events-section {
		padding: 0;
	}

	.calendar {
		padding-left: 0;
	}

	.guides-section {
		padding: 0;
	}

	.guides__item {
		height: 360px;
	}


	.guide-name a {
		font-size: 12px;
	}

	.guide-name p {
		font-size: 12px;
	}

	.feedback {
		padding-left: 0;
	}

	// .header-bottom {
	// 	margin-bottom: 100px;
	// }	
}


@media screen and (max-width: 991px) and (min-width: 768px) {

	.navigation ul li a {
		padding: 20px 5px;
		font-size: 16px;
	}

	.header-content h1 {
		font-size: 100px;
	}

	.header-content h2 {
		font-size: 45px;
	}

	.controls a {
		width: 50px;
		height: 50px;
		border-radius: 50px;
		font-size: 30px;
		margin-top: -20px;
		padding: 8px 4px;
	}

	.navigation {
		height: 50px;
	}

	.navigation ul li a {
		padding: 17px 5px;
	}

	.logo {
		font-size: 26px;
		padding: 13px 0 0 10px;
	}

	.header-content {
		margin: 100px 0 200px;
		padding: 0 75px;
	}

	.slider-wrap {	
		padding: 0;
		overflow: hidden;
		position: absolute;
		height: 800px;
	}

	.slider-wrap img {
		height: 800px;
	}

	.header-bottom {
		margin-bottom: 100px;
	}

	.events__item {
		height: 545px;
		padding: 0;
		margin-bottom: 5px;
	}

	.events__item:last-child {
		margin-bottom: 0;
	}

	.events-thumbnail {
		padding: 0;
	}

	.calendar {
		margin: 10px;
		padding: 0;
	}

	.calendar-top {
		border-top-right-radius: 15px;
	}

	.calendar-bottom {
		background: #22262e;
		border-bottom-right-radius: 15px;
	}
	
	.guides__item {
		margin-bottom: 5px;
	}

	.guides__item:nth-child(2) {
		border-right: none;
	}	

	.guides__item:nth-child(3) {
		margin-bottom: 0;
	}
	
	.guides__item:nth-child(4) {
		margin-bottom: 0;
	}

	.feedback {
		margin-bottom: 30px;
		padding-right: 15px;
	}

	.address {
		margin-bottom: 30px;
	}

	.feedback form input:first-child {
		border-top-right-radius: 15px;
	}

	.feedback form button{
		border-bottom-right-radius: 15px;
	}

	.address-social {
		text-align: center;
	}


	.footer-bottom p {
		font-size: 14px;
	}

	.footer-img a {
		font-size: 36px;
		background: url(../images/bubbles.png) no-repeat;
		background-position: 50% 5%;
	}




}



@media screen and (max-width: 767px) {
	
	.container {
		padding: 0;
	}
	
	.navigation .icon-menu {
		display: block;
		text-align: center;
	}

	.navigation {
		height: 55px;
	}

	.header-content h1 {
		font-size: 36px;
	}

	.header-content h2 {
		font-size: 18px;
	}

	.controls a {
		width: 35px;
		height: 35px;
		border-radius: 35px;
		font-size: 26px;
		margin-top: -20px;
		padding: 3px 4px;
	}

	.controls a.slide-prev {
		left: 20px;		
	}

	.controls a.slide-next {
		right: 20px;
	}

	.header-content {
		margin: 140px 0 220px;
		padding: 0 75px;
	}

	.slider-wrap {	
		padding: 0;
		overflow: hidden;
		position: absolute;
		height: 480px;
	}

	.slider-wrap img {
		min-width: 100%;
		display: none;
		top: 0;
		left: 0;
		height: 480px;
	}

	.animals-section {
		padding: 0;
	}


	.time-filter a {
		display: block;
		margin: 0 auto;
		width: 100px;
		margin-bottom: 15px;
	}

	.time-filter i {
		display: none;
	}

	.future-events-section {
		padding: 0;
	}
	
	.events__item {
		padding: 0;
		min-height: 375px;
		margin-bottom: 5px;
	}

	.events__item:last-child {
		margin-bottom: 0;
	}

	.events-thumbnail {
		padding: 0;
	}

	.calendar {
		padding: 0;
		margin-bottom: 25px;
	}

	.calendar-top {
		border-top-right-radius: 15px;
	}

	.calendar-bottom {
		background: #22262e;
		border-bottom-right-radius: 15px;
	}

	.schedule__item {
		padding: 15px;
		margin: 0;
		margin-bottom: 15px;
		text-align: center;
		position: relative;
	}

	.schedule__item img {
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -20px;
		top: 0;
	}


	.schedule__item ul {
		margin: 0;
	}

	.schedule__item p {
		margin: 0;
		padding: 15px;
	}

	.calendar-middle table tr td span {
		margin: 5px 4px;
	}

	.guides-section {
		padding: 0;
	}

	.guides__item {
		margin-bottom: 5px;
		border: none;
	}

	.guides__item:last-child {
		margin-bottom: 0;
	}

	.feedback {
		padding: 0;
		margin-bottom: 30px;
	}

	.feedback form input:first-child {
		border-top-right-radius: 15px;
	}

	.feedback form button{
		border-bottom-right-radius: 15px;
	}

	.address {
		height: 400px;
	}

	.address-social {
		text-align: center;
		padding: 0;
		left: 0;
	}

	.address-social ul {
		margin: 0;
		padding: 0;
	}


	.address-social ul li {
		margin: 0;
		margin-bottom: 5px;
	}

	.address-social ul li {
		display: inline-block;
		margin-right: 5px;
		float: left;
	}

	.address-social ul li img {
		width: 80%;
	}

	.footer-bottom p {
		font-size: 12px;
		
	}

	.footer-img a {
		font-size: 26px;
		background: url(../images/bubbles.png) no-repeat;
		background-position: 50% 5%;
	}

}





