

// Цвет фона about us, кнопок при наведении и активных кнопок
@secondaryColor: #16a086;
// Цвет большинства кнопок/ссылок
@primaryColor: #1bbc9b;
// Основной цвет текста
@mainFontColor: #444444;


/* ОБЩИЕ СТИЛИ */
* {
	font-family: 'Lato', sans-serif; 
	font-size: 14px;
}

body {
	min-width: 286px;	
}

h2 {
	font-size: 28px;
	cursor: default;
	margin-top: 50px;
}

a {
	color: @mainFontColor;
	outline: none !important;
	&:hover {
		text-decoration: none;
		color: @mainFontColor;
	}
	
	&:focus {
		text-decoration: none;
		color: #444;
	}
}

.left {
	float: left;
}

.right {
	float: right;
}

input, textarea, button {
	outline: none;
}

.button {
	padding: 12px 12px;	
	background: @primaryColor;
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	
	-webkit-transition: background 0.5s ease, color 0.1s ease;
	   -moz-transition: background 0.5s ease, color 0.1s ease;
		-ms-transition: background 0.5s ease, color 0.1s ease;
		 -o-transition: background 0.5s ease, color 0.1s ease;
	        transition: background 0.5s ease, color 0.1s ease;

	&:hover {
		background-color: @secondaryColor;
	}
}

/* ====HEADER=====  */
.header {
	height: 95px;
}

.logo {
	padding: 25px 0;
	a {
		&:hover {
			color: #444;
		}
		img {
			display: inline-block;
			float: left;
			margin-right: 10px;
		}
		h4 {
			display: inline-block;
			line-height: 5px;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 20px;
		}
	}
}

.navigation {
	padding: 35px;
	ul {
		list-style: none;
		li {
			display: inline-block;
			a {
				padding: 12px 12px;
				text-transform: uppercase;
				&:hover {
					background: @primaryColor;
					color: #fff;

					-webkit-transition: background 0.5s ease, color 0.1s ease;
	   				   -moz-transition: background 0.5s ease, color 0.1s ease;
						-ms-transition: background 0.5s ease, color 0.1s ease;
		                 -o-transition: background 0.5s ease, color 0.1s ease;
	                        transition: background 0.5s ease, color 0.1s ease;
				}
			}
			
		}
	}
}

/*===END OF HEADER=== */

/* ====SLIDER==== */
.slider {
	background: url(images/slider-img.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	min-height: 450px;

	h1 {
		font-size: 55px;
		font-weight: 300;
		margin: 75px 0 35px;
		cursor: default;

		strong {
			font-size: 55px;
			font-weight: 700;
		}
	}

	p {
		font-size: 18px;
		margin: 0px 115px 45px;
		font-weight: 200;
	}

	a.button {
		display: block;
		width: 120px;
		margin: 0 auto 40px;
		.button();
	}

	.show-more {
		display: block;
		height: 40px;
		width: 40px;
		margin: 20px auto 80px;	
		padding: 5px 0;		
		border-radius: 45px;
		color: #fff;

		-webkit-transition: opacity 0.3s ease;
		   -moz-transition: opacity 0.3s ease;
			-ms-transition: opacity 0.3s ease;
             -o-transition: opacity 0.3s ease;
                transition: opacity 0.3s ease;

		&:hover {
			opacity: .7;
		} 

		i {
			font-size: 45px;
		}
	}
}
/* ====END OF SLIDER====*/

/* =====PORTFOLIO SECTION===== */
.portfolio {
	padding-bottom: 60px;
	min-height: 710px;


	p {
		font-size: 16px;
		margin-bottom: 35px;
	}


	button {
		.button();
		border: none;
		color: #fff;
		text-transform: uppercase;
		margin: 0 5px 40px;
		display: inline-block;
	}

	.mixitup-control-active {
		background: @secondaryColor;
	}


	.portfolio__item {
		margin-bottom: 35px;

		div {
			width: 170px;
			height: 170px;
			margin: 0 auto;
			position: relative;

			img {
				display: block;
				width: 170px;
				height: 170px;
				z-index: -1;
			}
		}

		a {
			display: block;
			z-index: 999;
			width: 170px;
			height: 170px;
			border-radius: 170px;
			position: absolute;
			top: 0;
			left: 0;

			-webkit-transition: background-color 0.5s ease-in-out;
			   -moz-transition: background-color 0.5s ease-in-out;
				-ms-transition: background-color 0.5s ease-in-out;
                 -o-transition: background-color 0.5s ease-in-out;
                    transition: background-color 0.5s ease-in-out;

			&:hover {
				background-color: rgba(22, 160, 134, .75);

				i {
					opacity: 1;
					width: 46px;
					height: 46px;
					padding: 12px;						
					margin: -23px 0 0 -23px;

					-webkit-transition: opacity .8s ease-in-out, height .8s ease, width .8s ease, margin .8s ease, padding .8s ease;
		   			   -moz-transition: opacity .8s ease-in-out, height .8s ease, width .8s ease, margin .8s ease, padding .8s ease;
					    -ms-transition: opacity .8s ease-in-out, height .8s ease, width .8s ease, margin .8s ease, padding .8s ease;
             			 -o-transition: opacity .8s ease-in-out, height .8s ease, width .8s ease, margin .8s ease, padding .8s ease;
                			transition: opacity .8s ease-in-out, height .8s ease, width .8s ease, margin .8s ease, padding .8s ease;
				}
			}

			i {
				opacity: 0;
				display: block;
				background: rgba(68, 68, 68, .61);
				width: 100px;
				height: 100px;
				border-radius: 45px;
				font-size: 22px;
				color: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -50px;
				margin-left: -50px;	
				margin: -50px 0 0 -50px;				
				padding-top: 39px;
			}
		}
	

	}
}



/* =====END OF PORTFOLIO SECTION===== */



/* =====ABOUT US SECTION===== */
.about {
	background: @secondaryColor;

	.b-about {
		padding: 0 50px 75px;
	}

	h2,p {
		color: #fff;
	}

	p {
		margin-bottom: 45px;
	}
	
	.about__item {
		background: #fff;
		height: 480px;
		margin: 0 30px;
		
		
		.avatar {
			position: relative;

			a {
				display: block;
				overflow: hidden;
			
			
				img {
					height: auto;
					width: 100%;
				}	
			}

			.social {
				display: none;
				position: absolute;
				width: 180px;
				height: 50px;
				top: 50%;
				left: 50%;
				margin-left: -90px;
				margin-top: -25px;

				background-color: rgba(22, 160, 134, .75);

				a {
					display: inline-block;
					color: #fff;
					margin: 10px 8px;

					&:hover {
						opacity: .7;
					}
					
					i {
						font-size: 28px;
						margin: 2px 0;
					}
				}
			}

		}



		.description {
			padding:  0 10px 20px;

			h3 {
				font-size: 18px;
			}

			span {
				font-size: 14px;
				font-style: italic;
				margin-bottom: 20px;
				display: block;
				line-height: 4px;
			}

			p {
				text-align: left;
				color: @mainFontColor;
			}
		}
	}
	

}
/* =====END OFABOUT US SECTION===== */



/* ===== CONTACT US SECTION===== */
.contact {
	padding-bottom: 60px;

	p {
		margin-bottom: 35px;
	}

	.contact-form {
	    
		height: 290px;
		padding-top: 15px;
		position: relative;

		input, textarea {
			padding: 10px;
			border: 2px solid #bec3c7;
			font-size: 14px;
			margin-bottom: 20px;
		}

		input {
			margin-left: 10px;
			width: 48%;

			&:first-child {
				margin-left: 0px;
			}

			&:last-child {
				margin-right: 10px;
			}
		}

		textarea {
			width: 100%;
			height: 150px;
			resize: none;
			margin-bottom: 18px;
		}

		button {
			.button();
			padding: 10px 25px;
			border: none;
			position: absolute;
			bottom: 0;
			right: 15px;
		}
	}

	.map {
		address {
			margin-bottom: 5px;
		}
		height: 290px;
		
	}
}

/* =====END OF CONTACT US SECTION===== */


/* =======FOOTER======= */
.footer {
	background: #2d3e50;
	p {
		color: #fff;
		margin: 30px 0; 
	}

	a.scroll-up {
		color: #fff;
		display: block;
		width: 43px;
		height: 45px;
		float: right;
		margin: 20px 0;

		.button();
		i {
			font-size: 20px;
		}
		
	}
}

/* =====END OF FOOTER== */


/*====МОБИЛЬНОЕ БОКОВОЕ МЕНЮ=============*/
.menu {
	background: #2d3e50;
	right: -285px; /* прячем меню */
	top: 0;
	height: 100%;
	position: fixed;
	width: 285px;
	overflow-y: auto;
	z-index: 999;

	ul {
		border-top: 1px solid #fff;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-bottom: 1px solid #fff;
			line-height: 45px;
			padding-bottom: 3px;
			padding-left: 20px;
			padding-top: 3px;

			&:hover {
				cursor: pointer;
				background-color: @secondaryColor;
			}

			a {
				color: #fff;
				font-size: 15px;
				text-decoration: none;
				text-transform: uppercase;
			}
		}

	}
}

.icon-close {
	cursor: pointer;
	color: #fff;
	padding-left: 15px;
	padding-top: 32px;
	padding-bottom: 32px;

	i {
		font-size: 30px;

	}
}

.icon-menu {
	color: #272727;
	cursor: pointer;	
	float: right;
	padding: 32px 15px;

	i {
		font-size: 26px;
	}
}
/*=====END OF МОБИЛЬНОЕ БОКОВОЕ МЕНЮ=====*/


/* =====АДАПТИВНОСТЬ====== */
@media screen {
	@media (max-width: 1200px) {
		@media (min-width: 992px) {
			.about__item {
				height: 400px !important;
			}
		}
	}
}

@media screen {
	@media (max-width: 991px) {
		@media (min-width: 768px) {
			.b-about {
				padding: 0 0 75px !important;
			}

			.about__item {
				height: 400px !important;
				margin: 0 10px !important;
			}
			
		}
	}
}




@media screen {
	@media (max-width: 767px) {

		.navigation {
			padding: 0 !important;
		}

		.slider {
			p {
				margin: 0px 25px 45px; 
			}
		}

		.portfolio__item {
			div {
				width: 100px !important;
				height: 100px !important;

				img {
					width: 100px !important;
					height: 100px !important;
				}
			}

			a {
				width: 100px !important;
				height: 100px !important;
				border-radius: 100px !important;
			}
		}

		.b-about {
			padding: 0 0 75px !important;
		}

		.about__item {
			height: auto !important;
			margin: 0 0 10px !important;
		}

		.contact-form {
			margin-bottom: 25px;
		}

		.footer {
			text-align: center;
		}
	}
}




